h1,
h2,
h3,
p {
  margin-top: 0;
}

h1 {
  font-size: 24px;
}

p {
  font-size: var(--text-paragraph);
}

small {
  font-size: 12px;
}

/* As a reference, after the break we have a nice full style guide */
@media (min-width: 1200px) {
  h1 {
    font-size: 36px;
  }
}
